.sidebar .shopping-cart {
    display: none;
}

.sidebar.open .shopping-cart {
    display: block;
    margin-top: 10px;
    padding: 0px 20px 0px;
}

.sidebar.open .shopping-cart .order-headers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 20px;
    width: 100%;
    justify-content: space-between;
}

.sidebar.open .shopping-cart > h2 {
    color: var(--gray-200)
}

.sidebar.open .card-product {
    display: flex;
    grid-template-columns: auto auto auto auto;
    margin-top: 15px;
    justify-content: space-between;
}

.sidebar.open .card-product > h2 {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar.open .card-product-quantity {
    display: flex;
    align-items: center;
}

.sidebar.open .shopping-cart-price {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 5px;
}

.sidebar.open .shopping-cart-price .shopping-cart-line {
    width: 80%;
    height: 2px;
    opacity: 0.1;
    background-color: black;
}

.sidebar.open .shopping-cart-price .shopping-cart-line.total {
    width: 30%;
    margin-top: 30px;
}

.sidebar.open .shopping-cart-price > div {
    margin-top: 15px;
    font-size: 16px;
}

.sidebar.open .shopping-cart-price .total-price {
    margin-top: 15px;
    font-size: 20px;
}

.sidebar.open .shopping-cart-price .total-price > span {
    color: white;
    font-size: 25px;
}
