.navbar {
    background-color: var(--gray-300);
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 25px 50px -12px;
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.navLinks > div {
    margin: 20px;
}

.navLinks a {
    color: var(--gray-200);
}

.navbar-socials {
    display: flex;
    align-items: center;
}

.navbar-socials img {
    margin: 10px;
}
